<a href="https://colab.research.google.com/github/cminy/FC2022code/blob/main/python_101_basic_syntax.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# jupyter notebook
- cell 단위로 python 코드를 실행
- mode
    - 명령모드(esc) : 셀을 수정
    - 편집모드(enter) : 셀의 내용을 수정
- style
    - markdown : 간단한 문자열 출력 문법 : 설명글
    - code : python 코드를 실행
- shortcut : 단축키
    - shift + enter : 코드 실행
    - esc + a, b : 셀 생성
    - ctrl + space : 자동완성, 함수 설명 보기
    - esc + z : 셀 삭제
    - cmd(ctrl) + / : 주석 설정
- special command : %< command >, %% < comamnd >
    - 파일리스트 보기, 파일 내용보기, 파일쓰기 등

# Python
cpu, ram, hdd(ssd)를 사용하기 위해 작성되는 프로그래밍 코드의 종류

1. 변수선언 : ram에 저장공간을 만들어 데이터를 저장하는 방법
2. 데이터타입 : ram을 효율적으로 사용할수 있도록 하는 방법
  - int, float, bool, str, list, tuple, dict, set
3. 연산자 : cpu 자원을 사용하기 위한 방법
  - 산술, 할당, 비교, 논리, 멤버
4. 조건문 : 조건에 따라서 다른 코드를 실행하는 방법 : 코드를 효율적으로 작성
  - if, elif, else
5. 반복문 : 특정 코드를 반복적으로 실행하는 방법 : 코드를 효율적으로 작성
  - while, for in, break, continue, range()
6. 함수 : 중복되는 코드를 묶어서 사용하는 방법
  - def, return, lambda
7. 클래스 : 변수, 함수를 묶어서 사용하는 방법
  - class, self
8. 모듈 : 변수, 함수, 클래스를 하나의 파일(.py)로 묶어서 사용하는 방법
9. 패키지 : 모듈을 디렉토리로 묶어서 사용하는 방법
  - import, from, as
10. 입출력 : ram > hdd(ssd), hdd(ssd) > ram
  - pickle
11. 예외처리 : 코드 실행중 에러가 발행했을때 처리하는 문법
  - try, except, finally

###1.   변수선언

- 식별자 : 저장공간을 구분하는 문자열
- 대소문자, 숫자, 로우대쉬 문자만 사용가능
- 가장 앞에 숫자가 올 수 없습니다.
- 명령어(예약어) 사용 X
- 합성어 사용시 snake_case 사용 : (camelCase, PascalCase)

In [ ]:
 data1 = 1
 data2 = 2

In [ ]:
data1, data2 = 1, 2

In [ ]:
data1 = data2 = 3

In [ ]:
# 변수 안에 있는 값 출력 : print
print(data1, data2)

3 3

###2. 데이터 타입
- 기본 데이터 타입 : int, float, bool, str
  - 식별자 하나(저장공간 하나)에 데이터 하나만 저장
- 컬렉션 데이터 타입 : list, tuple, dict, set
  - 식별자 하나에 여러개의 데이터가 저장

- 동적타이핑 : 변수를 선언할때 자동으로 데이터 타입을 지정 
  - (인터프리터언어특징) 파이썬의 특징으로 타입 지정해주지 않았는데 동적타이핑 기능이 있어서 type이 자동으로 지정됨.
  - 다른 언어(컴파일러언어)의 변수선언 예) int data1 = 10

In [ ]:
# type() : 데이터 타입 확인
data1, data2, data3, data4 = -2, 4.3, True, "python"
type(data1),type(data2),type(data3),type(data4)

(int, float, bool, str)

> 컬렉션 데이터 타입
  - list [ ] : 순서가 있고 수정이 가능한 데이터 타입
  - tuple ( ) : 순서가 있고 수정이 불가능한 데이터 타입
  - dict { } : 순서가 없고 수정이 가능한 데이터 타입
  - set() : 중복을 허용하지 않는 데이터 타입

- list, tuple 는 idx가 있어 순서가 있다(iterable). 둘의 차이는 수정 가능/불가능
- tuple을 사용하는 이유 : list와 같은 데이터를 저장하면 저장공간을 더 적게 사용

In [ ]:
# list [] : 순서가 있고(iterable),수정 가능
data1 = [1, 2, "A", "B", "C"] # int, string 타입의 데이터를 넣어줌
type(data1), data1

(list, [1, 2, 'A', 'B', 'C'])

In [ ]:
# tuple () : 순서가 있고, 수정 불가능
data2 = (1, 2, "A", "B", "C")
type(data2), data2

(tuple, (1, 2, 'A', 'B', 'C'))

In [ ]:
# 데이터 선택 : masking : [] : 특정 위치에 있는 데이터 꺼내오기
# data[index], data[start(포함O):end(포함x)], data[start:end:stride] #stride 몇칸씩 점프한다.

In [ ]:
print(data1)
data1[2], data1[1:3], data1[1:4:2]

[1, 2, 'A', 'B', 'C']

('A', [2, 'A'], [2, 'B'])

In [ ]:
data1[-2], data1[-3:-1],data1[:3], data1[2:], data1[::1], data1[::-1], data1[::-2]

('B',
 ['A', 'B'],
 [1, 2, 'A'],
 ['A', 'B', 'C'],
 [1, 2, 'A', 'B', 'C'],
 ['C', 'B', 'A', 2, 1],
 ['C', 'A', 1])

In [ ]:
data2[-2], data2[-3:-1],data2[:3], data2[2:], data2[::1], data2[::-1], data2[::-2]

('B',
 ('A', 'B'),
 (1, 2, 'A'),
 ('A', 'B', 'C'),
 (1, 2, 'A', 'B', 'C'),
 ('C', 'B', 'A', 2, 1),
 ('C', 'A', 1))

In [ ]:
data = "jupyter notebook"
# note만 출력
findstr = "note"
data[data.find("note"):data.find("note")+len(findstr)]

'note'

In [ ]:
data = "kyobo(2020)"
data = "kyobo_stock(2021)"
data[-5:-1]

'2021'

In [ ]:
# 데이터 수정 : 데이터 선택 = 수정할 데이터
# print(data1)
data1[2] # 데이터 선택
data1[2] = "D" # 데이터 수정

[1, 2, 'D', 'B', 'C']

tuple 데이터 수정 불가
<br>`data2[2] = "D"` # TypeError: 'tuple' object does not support item assignment

In [ ]:
# tuple은 저장공간을 더 적게 사용한다.
import sys
d1, d2 = [1, 2, 3], (1, 2, 3)
sys.getsizeof(d1), sys.getsizeof(d2)

(96, 80)

In [ ]:
# 데이터 삭제 방법
d3 = data1[::2]
d3

[1, 'A', 'C']

In [ ]:
# dict {} : 순서가 없고, 수정 가능
# list, tuple에서 index값 대신 key값(int, str 타입) 사용
# key값을 사용하면 value값에 정보를 담을 수 있다.
data3 = {"one": 1, "two": 2, 1:"A", 2:"B"}
type(data3), data3

(dict, {1: 'A', 2: 'B', 'one': 1, 'two': 2})

In [ ]:
# 데이터 선택 : masking : [key]
data3["two"]

2

In [ ]:
# 데이터 삭제 : del
del data3["two"]
data3

{1: 'A', 2: 'B', 'one': 1}

In [ ]:
# --- Quiz
# 메시 10골, 호날두 12골, 손흥민 20골
# list(변수2개)와 dict(변수1개)로 표현

# list
players = ["메시", "호날두", "손흥민"]
goals = [10, 12, 20]
# dict
info = {"메시": 10, "호날두": 12, "손흥민": 20}

players, goals, info

(['메시', '호날두', '손흥민'], [10, 12, 20], {'메시': 10, '손흥민': 20, '호날두': 12})

In [ ]:
  goals_str = goals.copy()
  for i in range(len(players)):
    goals_str[i] = str(goals[i])
    print(players[i]+": "+goals_str[i])

메시: 10
호날두: 12
손흥민: 20

In [ ]:
# set : set(iterable)
# 중복 데이터 허용 X
data4 = set([1,2,1,"a","b","a"])
type(data4),data4 # 데이터의 중복이 제거가 되어 출력됨

(set, {1, 2, 'a', 'b'})

In [ ]:
data5 = set([1, 2, 3, 2, 4])
data6 = set([3, 4, 5, 6])
data5, data6

({1, 2, 3, 4}, {3, 4, 5, 6})

In [ ]:
# 집합(set)연산 : 교집합(&), 합집합(|), 차집합(-)
data5 & data6, data5 | data6, data5 - data6

({3, 4}, {1, 2, 3, 4, 5, 6}, {1, 2})

###3. 연산자

- 산술 : +, -, \*, /, //(몫), %(나머지), \**(제곱)
- 할당 : 누적해서 연산할때 사용 : data<산술>= 10
- 비교 : 결과(True, False) : ==, !=, >=, <=, >, <
- 논리 : 결과(True, False) : or, and, not
- 멤버 : 결과(True, False) : in, not in
  - 컬렉션 데이터 안에 특정 데이터가 포함되는지 확인

In [ ]:
# 산술 : +, -, *, /, //(몫), %(나머지), **(제곱)
data1, data2 = 10, 3
data1 / data2, data1 // data2, data1 % data2, 3 ** 4

(3.3333333333333335, 3, 1, 81)

In [ ]:
# 부동소수점 문제 : 소수점 연산시 발생
data1, data2 = 0.1, 0.2
print(data1 + data2)
(data1 + data2) == 0.3

0.30000000000000004

False

In [ ]:
# 해결책 1 : 반올림 : round() -> 소수점 몇번째 자리까지인지 지정해주어야함.
print(round(data1 + data2, 1))
round(data1 + data2, 1) == 0.3

0.3

True

In [ ]:
# 해결책 2 : 고정소수점 연산으로 변환
from decimal import Decimal
print(Decimal('0.1') + Decimal('0.2')) # 문자열로 써야한다.
float(Decimal('0.1') + Decimal('0.2')) == 0.3

0.3

True

In [ ]:
type(Decimal('0.1'))

decimal.Decimal

In [ ]:
# 문자열로 쓰는 대신 형변환 해볼까?
Decimal(str(data1)) + Decimal(str(data2)),\
Decimal(str(data1)) + Decimal(str(data2)) == 0.3
# 여러줄로 코드 작성할 때 \쓰는데 \뒤에 빈칸 있으면 에러남

(Decimal('0.3'), False)

In [ ]:
# 데이터 타입별 산술연산 수행 : 데이터 타입 변환
da1, da2, da3, da4 = 1, 2, "3", "4"

In [ ]:
# 같은 연산자를 사용하여 연산을 수행해도 데이터 타입에 따라서 다르게 연산 수행
da1+da2, da3+da4

(3, '34')

In [ ]:
# da1 + da3
# TypeError: unsupported operand type(s) for +: 'int' and 'str'
# 형변환해주기
da1 + int(da3), str(da2)+da4

(4, '24')

In [ ]:
# 할당연산자
# 변수에 값을 누적시켜 연산할때 사용

In [ ]:
data1 = 10
# data1 = data1 + 10 을 좀 더 간결하게 적기
data1 += 10
data1

20

In [ ]:
# 비교연산자
# ==, !=, >, <, >=, <=
# 결과 : bool

In [ ]:
data1, data2 = 2, 3
data1 == data2, data1 != data2

(False, True)

In [ ]:
# 논리연산자
# 논리값 비교 : or, and, not

In [ ]:
not True, True or False, True and False

(False, True, False)

In [ ]:
# 비교연산자와 같이 써보기
not data1 != data2, True or (1 > 2)

(False, True)

In [ ]:
# 멤버연산자 : in, not in
# 컬렉션 데이터 안에 특정 값이 있는지 확인
# 결과 : bool

In [ ]:
years = [1992, 1994, 1997, 2000, 2003, 2009, 2020, 2022]
1994 in years, 1989 in years

(True, False)

In [ ]:
data1 = [1, 2, 3]
2 in data1, 2 not in data1

(True, False)

In [ ]:
# Quiz. 산술연산자 : +, -, *, /, //, %, **
# 입력된 변수에서 연령대를 출력하도록 코드 작성
age = 27
age // 10 * 10

20

In [ ]:
# Quiz. 산술, 비교, 논리
# 윤년구하기 : 윤년이면 True, 윤년이 아니면 False
# 1. 4년에 한번씩 윤년 : 4의 배수는 윤년 : 4의 배수 > 4로 나눈 나머지가 0
# 2. 100년에 한번씩 윤년X : 100으로 나눈 나머지가 0이 아님
# 3. 400년에 한번씩 윤년

In [ ]:
year = 800
(year % 4 == 0) and (year % 100 != 0) or (year % 400 == 0)

True

In [ ]:
# 연산자 사이에서 우선순위
# 산술 > 비교 > 논리(and > or)
year % 4 == 0 and year % 100 != 0 or year % 400 == 0

True

In [ ]:
# 입력함수 : input() : 항상 str 데이터 타입으로 데이터를 받습니다.
year = int(input("Insert Year : "))
(year % 4 == 0) and (year % 100 != 0) or (year % 400 == 0) #윤년인지 알아보기

insert year : 2022

False

###4. 조건문

In [ ]:
# 4. 조건문
# if, elif, else
# 특정 조건에 따라서 코드를 실행

In [ ]:
# Q: 지갑에 돈이 5천원 이상 있으면 택시, 2000원 이상 있으면, 버스를 탄다.
# 2000원 미만으로 있으면 걸어간다.

money = int(input("insert your money: "))
if money >= 5000:
  print("택시를 타자")
elif money >= 2000:
  print("버스를 타세요.")
else:
  print("걸어가세요.")

insert your money: 6000
택시를 타자

In [ ]:
# 점수(point)에 따라서 학점을 출력하는 코드작성
# 90 >= A, 80 >= B, 70 >= C, 60 >= D, 60 < F
point = 89
if point >= 90:
    print("A")
elif point >= 80:
    print("B")
elif point >= 70:
    print("C")
elif point >= 60:
    print("D")
else:
    print("F")

B

In [ ]:
# Quiz
draw_money = int(input("인출금액: "))
account = 100000
if draw_money > account:
  print("잔액이 부족합니다.\n현재잔액 :", account,"원\n",draw_money-account,"원이 부족합니다.")
else:
  account -= draw_money
  print("계좌에서 ",draw_money,"원 을 인출하였습니다.\n잔액은",account,"입니다.")
#account

인출금액: 10000
계좌에서  10000 원 을 인출하였습니다.
잔액은 90000 입니다.

# summary

1. 변수선언 : ram 사용하는 문법 : 변수선언하는 3가지 방법, 식별자 규칙
2. 데이터타입
  - 기본(int, float, bool, str), 컬렉션(list, tuple, dict, set)
  - masking : [index], [start:end], [start:end:stride]
3. 연산자 : 산술, 할당, 비교, 논리(not, and, or), 멤버(in, not in)
  - 부동소수점문제 : 반올림, 고정소수점연산 으로 해결
  - 데이터 형변환 : 데이터 타입에 따라서 연산이 수행될수도 안될수도 있다.
4. 조건문 : if, elif, else

##5. 반복문

In [ ]:
# 5. 반복문
# 명령어 : while, for in, break, continue
# 함수 : range(), enumerate(), zip()

In [ ]:
print("python")
print("python")
print("python")

python
python
python

In [ ]:
# while은 무한루프에 빠지기 쉬움
# 무한루프에 빠지게 되면 : [런타임 > 실행중단] 실행
count = 3
while count > 0:
    print("python")
    count -= 1

python
python
python

In [ ]:
# 조건부에 논리값이 아니면 강제로 bool() 형변환해서 판단
count = 3
while count:
    print("python")
    count -= 1

python
python
python

In [ ]:
bool(3), bool(0), bool(1), bool(-1)

(True, False, True, True)

In [ ]:
bool(1), bool(0), bool(0.0), bool(""), bool([]), bool(()), bool({})

(True, False, False, False, False, False, False)

In [ ]:
# for : 코드를 반복적으로 실행
# for data in <iterable>:
#   code

In [ ]:
for data in [0,1,2]: # 꼭 iterable 아니여도 컬렉션 데이터면 다 실행 되긴함
  print("jupyter")

jupyter
jupyter
jupyter

In [ ]:
# dict 테스트해봐야징
for data2 in info:
  print(info["손흥민"])

20
20
20

In [ ]:
# range() : list 데이터를 생성해주는 함수
# range(end), range(start 포함O, end 포함X), range(start, end, stride)

In [ ]:
range(5)

range(0, 5)

In [ ]:
list(range(5)), list(range(5,10))

([0, 1, 2, 3, 4], [5, 6, 7, 8, 9])

In [ ]:
list(range(0,5))

[0, 1, 2, 3, 4]

In [ ]:
list(range(0,5,2))

[0, 2, 4]

In [ ]:
for i in range(0,3):
  print("jupyter")

jupyter
jupyter
jupyter

In [ ]:
# 사용이 되지 않는 변수의 식별자는 _ 사용
for _ in range(3):
    print("notebook")

notebook
notebook
notebook

In [ ]:
# break : 강제로 반복문을 중단
# continue : 강제로 반복문 코드부분으로 올라가서 코드를 실행

In [ ]:
for number in range(10):
  if number % 2: # 0 이면 false 1 이면 true
    continue # 홀수일때 동작됨
  print(number)
  if number >= 7:
    break

0
2
4
6
8

In [ ]:
# ---- Quiz : 로또번호 출력하기

In [ ]:
# 랜덤 숫자 출력
import random
random.randint(0,3) # 0에서 3 사이에 랜덤한 숫자 출력됨 (0, 3 모두포함)

0

In [ ]:
# 리스트 데이터 개수 출력 : len()
data = [1,3,2]
len(data)

3

In [ ]:
# 리스트에 데이터 추가 : list.append(number)
data.append(4)
data

[1, 2, 3, 4]

In [ ]:
# sort()
data.sort()
data

[1, 2, 3, 4]

In [ ]:
# 내림차순 정렬
# data.sort() 한후
data[::-1]

[4, 3, 2, 1]

In [ ]:
# 로또번호 출력하기
# 1~45 사이의 랜덤한 숫자 6개 출력
# 중복되는 데이터가 들어가지 않도록
lotto = []
while len(lotto) < 6: # 0 ~ 5
  rannum = random.randint(1,45)
  if rannum not in lotto:
    lotto.append(rannum)
lotto.sort()
lotto

[2, 5, 11, 25, 33, 38]

In [ ]:
# if 두번쓰기
lotto = []
while True:
  rannum = random.randint(1,45)
  if rannum not in lotto:
    lotto.append(rannum)
  if len(lotto) >= 6:
    break
lotto.sort()
lotto

[3, 6, 9, 28, 36, 38]

In [ ]:
# # --- 나의 일주일
# week = list("월화수목금토일")
# for today in week:
#   if (today == "토") or (today == "일"):
#     print("주말", "나이스")
#   else:
#     print("평일", "달리자")

평일 달리자
평일 달리자
평일 달리자
평일 달리자
평일 달리자
주말 나이스
주말 나이스

In [ ]:
# list comprehension
# 간단하게 for in, if로 만들어진 리스트를 출력하는
# 코드를 간결하게 작성할 수 있도록 도와주는 문법

In [ ]:
numbers = []
for number in range(10):
    if number % 2:
        numbers.append(number**2)
numbers

[1, 9, 25, 49, 81]

In [ ]:
numbers = [number**2 for number in range(10) if number % 2]
numbers

[1, 9, 25, 49, 81]

In [ ]:
name = "park qq"
name.split(" ")[0]

'park'

In [ ]:
# --- Quiz
# 김씨 성을 가진 사람의 이름만 리스트 변수로 만들어서 출력
names = ["kim as", "jang io", "park po", "kim rt"]
kim_names = [
             name.split(" ")[1]
             for name in names
             if name.split(" ")[0] == "kim"
             ]
kim_names

['as', 'rt']

In [ ]:
# list comprehension 안쓴다면? 
kims = []
for name in names:
  if name.split(" ")[0] == "kim":
    kims.append(name.split(" ")[1])
kims

['as', 'rt']

##6. 함수

- def, return, lambda
- 중복되는 코드를 묶어서 사용

In [ ]:
# ---- Quiz
# 로또번호 출력
# python 문자열 출력
# 로또번호 출력

In [ ]:
# 함수 사용 안하는 경우
lotto = []
while len(lotto) <= 6:
  rannum = random.randint(1,45)
  if rannum not in lotto:
    lotto.append(rannum)
lotto.sort()
print(lotto)
print("python")
lotto = []
while len(lotto) <= 6:
  rannum = random.randint(1,45)
  if rannum not in lotto:
    lotto.append(rannum)
lotto.sort()
print(lotto)

[4, 5, 9, 17, 26, 31, 40]
python
[1, 2, 3, 23, 35, 42, 43]

In [ ]:
# 사용법 : 함수선언(코드작성) > 함수호출(코드실행)

In [ ]:
# 함수선언(코드작성)
def disp_lotto():
    lotto = []
    while True:
        number = random.randint(1, 45)
        if number not in lotto:
            lotto.append(number)
        if len(lotto) >= 6:
            break
    lotto.sort()
    print(lotto)

In [ ]:
# 함수 실행(코드실행)
disp_lotto()

[5, 11, 18, 29, 38, 44]

In [ ]:
# 함수 사용한 코드로 바꾸어 보기
disp_lotto()
print("Python")
disp_lotto()

[3, 4, 18, 21, 22, 25]
Python
[23, 24, 25, 27, 34, 45]

In [ ]:
# 삼항연산자
# 간단한 조건문을 한줄의 코드로 작성하는 방법
# (True) if (conditon) else

In [ ]:
# 변수에 있는 숫자가 짝수이면 even, 홀수이면 odd 출력
number = 7
if number % 2:
  print("odd")
else:
  print("even")

odd

In [ ]:
result = "odd" if number % 2 else "even"
result

'odd'