<a href="https://colab.research.google.com/github/cminy/FC2022code/blob/main/python_102_python_function_class.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Review

**python** : cpu, ram, hdd(ssd)를 사용하기 위한 방법
1. 변수선언 : ram 사용하기 위한 방법
  - data = 1
  - data1, data2 = 1, 2
  - data1 = data2 = 1
  - 식별자 규칙
  - 대소문자, 숫자, _ 만 사용가능, 숫자 가장 앞에 올수 X, 대소문자구분, 명령어 사용 X
2. 데이터 타입
  - 기본 데이터타입 : int, float, bool, str
  - 컬렉션 데이터타입 : list, tuple, dict, set
  - read : masking : [index], [start:end], [start:end:stride]
  - update : 데이터선택 = 데이터
  - delete : dict 데이터 삭제 : del
  - set 데이터 타입의 특징 : 중복을 허용 X : 교집합, 합집합, 차집합
3. 연산자 
  - 산술, 할당, 비교, 논리(not, or, and), 멤버(in, not in)
4. 조건문
  - if, elif, else : 조건을 작성하는 부분에서 bool 데이터 타입이 아니면 형변환
5. 반복문
  - while, for in, break, continue, range()
  - list comprehention, 삼항연산( ture if condition else false )
6. 함수
  - 중복되는 코드를 묶어서 사용
  - 사용법 : 함수선언(코드작성) > 함수호출(코드실행)

## 6. 함수

In [ ]:
# 객체(변수)의 복사
data1 = [1, 2, 3]
data2 = data1 # call by refrenece : 주소값 복사 : 얕은복사
data3 = data1.copy() # call by value : 값 복사 : 깊은복사
print(data1, data2, data3)
data1[1] = 4
print(data1, data2, data3)
print(id(data1), id(data2), id(data3))

[1, 2, 3] [1, 2, 3] [1, 2, 3]
[1, 4, 3] [1, 4, 3] [1, 2, 3]
140479686213952 140479686213952 140479686429024

In [ ]:
# 함수
# 함수선언(데이터) > 함수호출(데이터)
# 함수호출에서 함수선언하는 코드로 데이터를 전달

In [ ]:
# parameter, agument
def plus(num1, num2): # parameter : num1, num2
    print(num1 + num2)

plus(1, 2) # argument : 1, 2

3

In [ ]:
# default parameter : num2=10, num3=20
def plus(num1, num2=10, num3=20): 
    print(num1 + num2 + num3)

plus(1, num3=100) # keyword argument : num3=100

111

In [ ]:
# print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)
print("A", "B", sep=",", end=" - ")
print("C", "D", sep=",")

A,B - C,D

In [ ]:
# *args, **kwargs
# 아규먼트의 갯수에 상관없이 함수를 실행
def plus(*args, **kwargs):
    print(type(args), args)
    print(type(kwargs), kwargs)
    print(sum(args) + sum(kwargs.values()))

plus(1, 2, 3, num1=4, num2=5)

<class 'tuple'> (1, 2, 3)
<class 'dict'> {'num1': 4, 'num2': 5}
15

In [ ]:
def plus(*args, **kwargs):
    print(type(args), args)
    print(type(kwargs), kwargs)

# 1, 2, 3, num1=4, num2=5
data1 = [1,2,3]
plus(data1) # plus([1,2,3]) : argument 1개, datatype list
# <class 'tuple'> ([1, 2, 3],) 요기 콤마, 있는거는 tuple data인데 argument가 1개라고 하는거야.
plus(*data1) # plus(1,2,3) : argument 3개, datatype int
# *가 있으면 묶여있는 데이터를 하나씩 풀어줌
data2 = {"num1":4, "num2":5}
plus(data2) # plus({"num1": 4, "num2": 5}) : a 1개, dt : dict
plus(**data2) # plus(num1=4, num2=5) : ka 2개, dt : int

<class 'tuple'> ([1, 2, 3],)
<class 'dict'> {}
<class 'tuple'> (1, 2, 3)
<class 'dict'> {}
<class 'tuple'> ({'num1': 4, 'num2': 5},)
<class 'dict'> {}
<class 'tuple'> ()
<class 'dict'> {'num1': 4, 'num2': 5}

In [ ]:
# MySQL.connet(host="123.1.2.3", user="root")
# sqlalchemy.connet(host="123.1.2.3", user="root")

# data = {"host": "1.2.3.4", "user": "root"}
# MySQL.connet(host=data["host"], user=data["user"])
# sqlalchemy.connet(host=data["host"], user=data["user"])

# data = {"host": "1.2.3.4", "user": "root"}
# MySQL.connet(**data) # (host="1.1.2.3", user="root")
# sqlalchemy.connet(**data) # (host="1.1.2.3", user="root")

In [ ]:
# 파라미터에서 사용 : 여러개의 아규먼트 데이터를 하나의 변수로 받아줌
# 아규먼트에서 사용 : 컬렉션 데이터를 풀어서 여러개의 아규먼트를 만들어서 함수호출

In [ ]:
# return
# 1) 함수의 코드를 실행한 겨로가를 함수 호출하는 부분으로 보낼때
# 2) 함수의 코드 실행을 중단 (하고 싶을 떄 그냥 return을 써버림. none data를 return하고 그 밑에는 실행하지 않는거)

In [ ]:
# 1) 함수의 코드를 실행한 겨로가를 함수 호출하는 부분으로 보낼때
# plus1 : return이 없는 함수
def plus1(num1, num2=10, num3=20):
  print(num1 + num2 + num3)
# plus2 : return이 있는 함수
def plus2(num1, num2=10, num3=20):
  print(num1 + num2 + num3)
  return num1 + num2 + num3

In [ ]:
result1 = plus1(1, 2) # 출력은 되지만 변수에 저장은 안됨. -> 밑에 코드에서 활용못함.
result2 = plus2(1, 2)
print("---")
print("return없다: ",result1,"/return있다: ", result2)

23
23
---
return없다:  None /return있다:  23

In [ ]:
def plus_minus(num1, num2):
  return num1 + num2, num1 - num2
result1, result2 = plus_minus(1,2)
# result1, result2 = num1 + num2, num1 - num2 와 같은거임.
print("result", result1, result2)

result 3 -1

In [ ]:
# result1, result2 = num1 + num2, num1 - num2
# 이게 가능한 이유는

# tuple 선언 : () : () 생략가능
data = 1, 2
data1, data2 = 3, 4
type(data), data, data1, data2

(tuple, (1, 2), 3, 4)

In [ ]:
# 리턴이 있는 함수 : str.upper()
# 변수의 내용을 바꾸지 않고 코드를 실행한 결과를 출력
data1 = "python"
result = data1.upper()
print(result, data1)

# 리턴이 없는 함수 : list.sort()
# 변수의 내용을 바꾸고 코드를 실행한 결과를 출력 X
data2 = [3, 1, 2]
result = data2.sort()
print(result, data2)

PYTHON python
None [1, 2, 3]

In [ ]:
# return 2번째 기능
# 함수 내에 있는 코드의 실행을 중단
def echo(msg):
    print(msg)
    print(msg)
    return
    print(msg)

In [ ]:
echo("python")

python
python

In [ ]:
# docstring : 함수 설명 작성
def plus(num1, num2):
    """
    This function is plus.
    ---------------------------------
    Parameters
    num1 : int : first number data
    num2 : int : second number data
    ---------------------------------
    Return
    num1 + num2 : int
    """
    return num1 + num2

In [ ]:
# help(plus) # docstring만 보기
# plus? # docstring만 보기
# plus?? # code 전체를 보기

In [ ]:
help(plus)

Help on function plus in module __main__:

plus(num1, num2)
    This function is plus.
    ---------------------------------
    Parameters
    num1 : int : first number data
    num2 : int : second number data
    ---------------------------------
    Return
    num1 + num2 : int

In [ ]:
# 변수를 문자열에 넣어서 문자열을 만드는 방법
data1 = 1000
data2 = 500
print(data, "원을 인출하겠습니다. 잔액은", data2, "입니다.")
# 방법1
print("{} 원을 인출하겠습니다. 잔액은 {} 입니다.".format(data1,data2))
# 방법2 
print(f"{data1} 원을 인출하겠습니다. 잔액은 {data2} 입니다.")

python 원을 인출하겠습니다. 잔액은 500 입니다.
1000 원을 인출하겠습니다. 잔액은 500 입니다.
1000 원을 인출하겠습니다. 잔액은 500 입니다.

In [ ]:
# lambda function
# 함수는 데이터 타입이 function인 변수이다.

In [ ]:
# 함수 3개 선언 : 메모리 사용
def plus3(num1, num2):
  return num1 + num2

def minus(num1, num2):
  return num1 - num2

def calc(func, num1, num2): # 함수도 변수니까 ~ function도 파라매터나 아규먼트로 사용할 수 있다.
    return func(num1, num2)

In [ ]:
type(plus)

function

In [ ]:
calc(plus3, 1, 2), calc(minus, 1, 2)

(3, -1)

In [ ]:
# 함수선언하면 메모리 사용하는데, 선언했는데 안쓸수도 있쟈나. 그런경우에는 lambda함수를 써보자.
# lambda <parameters> : <return data>
# 간단하게 파라미터와 return만 있는 함수는 람다함수로 사용하면 메모리 절약
# 복잡한 함수는 람다함수로 대체할 수 X

In [ ]:
# 아래 함수 lambda로 바꾸어 보기
# def plus3(num1, num2):
#   return num1 + num2
pluss = lambda num1, num2: num1 + num2
pluss(1,2)
# 근데 이거는 여러번 사용되는거쟈나.. 그래서 lambda 쓰는 의미없지. 이런건 안씀.
# 아래 코드 쓸때 좀 하는거야.

3

In [ ]:
# calc(plus3, 1, 2), calc(minus, 1, 2)
calc(lambda num1, num2: num1   + num2, 1, 2), calc(lambda num1, num2: num1 - num2, 1, 2)

(3, -1)

In [ ]:
# function summary
# 사용법 : 함수선언(코드작성) > 함수호출(코드실행)
# parameter, argument, default parameter, keyword argument
# *args, **kwargs
# return
# lambda

##7. 클래스 : class

In [ ]:
# 개념 1 : 변수, 함수를 묶어서 사용
# 개념 2 : 객체지향을 구현한 문법
# 객체지향
#   - 실제세계를 반영해서 개발하는 방법 > 협업이 용이
# 함수의 사용법 : 함수선언(코드작성) > 함수호출(코드실행)
# 클래스 사용법
# - 메서드 : 클래스에서 사용하는 함수
# - 클래스선언(코드작성(변수, 함수)) > 객체생성(메모리사용) > 메서드실행(코드실행)
# - 클래스선언(설계도작성) > 객체생성(제품생산) > 메서드실행(기능사용)

In [ ]:
# 클래스선언 : Calculator : num1, num2, plus(), minus()
class Calculator:
    num1 = 1
    num2 = 2
    def plus(self):
        return self.num1 + self.num2
    def minus(self):
        return self.num1 - self.num2

# 객체생성
calc = Calculator()

# 메서드실행
calc.plus(), calc.minus()

(3, -1)

In [ ]:
# self : 객체 자신
# Calculator.plus() : self.num1 + self.num2
# calc.plus() : self == calc : calc.num1 + calc.num2
print(calc.num1, calc.num2)
calc.plus()

1 2

3

In [ ]:
# 스타크래프트 : Marine
# 클래스선언 : Marine : health, attack_pow, attack()
class Marine:
    health = 40
    attack_pow = 5
    def attack(self, target):
        target.health -= self.attack_pow

# 객체생성 : m1, m2 생산
m1 = Marine()
m2 = Marine()
print(m1.health, m2.health)

40 40

In [ ]:
# 메서드실행 : m1.attack(m2)
m1.attack(m2)
print(m1.health, m2.health)

40 35

In [ ]:
# Quiz : Medic : health=60, heal_pow=6, heal()
class Medic:
    health = 60
    heal_pow = 6
    def heal(self, target):
        target.health += self.heal_pow

medic = Medic()

In [ ]:
medic.heal(m2)
print(m1.health, m2.health)

40 41

In [ ]:
# 공격력 업그레이드
m2.attack_pow = 12
print(m1.health, m2.health, m1.attack_pow, m2.attack_pow)

40 41 5 12

In [ ]:
m2.attack(m1)
print(m1.health, m2.health, m1.attack_pow, m2.attack_pow)

28 41 5 12

In [ ]:
# 생성자 메서드 : __init__(self)
# 기능 : 객체를 생성할때 메서드 실행
# 생성자 메서드는 주로 객체를 만들때 변수값을 할당하는 용도로 사용됩니다.
# 메서드를 실행할때 변수값이 없어서 실행이 안되는 에러를 방지.

In [ ]:
# 클래스 선언
class Calculator:
    def __init__(self, num1, num2=10):
        self.num1 = num1
        self.num2 = num2
    def plus(self):
        return self.num1 + self.num2

# 객체 생성 : 메모리 사용
calc = Calculator(1)

In [ ]:
# 메서드 사용
calc.plus()

11

In [ ]:
# 데이터 타입의 이해
# 클래스는 사용자 정의 데이터 타입

In [ ]:
# calc 객체의 데이터 타입은 Calculator : num1, num2, plus()
# data 객체의 데이터 타입은 str : upper(), split() ...
# 객체는 어떤 클래스(데이터타입)로 만들어 졌는지에 따라서 사용할수 있는 메서드가 다르다.
data = "python"
type(calc), type(data), calc.plus(), data.upper()

(__main__.Calculator, str, 11, 'PYTHON')

In [ ]:
# 객체의 변수 출력 : dir()
functions = dir(calc)
functions = dir(data)
functions = [function for function in functions if function[0] != "_"]
functions

['capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [ ]:
# 기본 데이터 타입에서 자주 사용되는 메서드들

In [ ]:
data1 = "Python jupyter notebook"
data1.upper(), data1.lower(), data1.count("o"),\
data1.replace("notebook", "kyobo")

('PYTHON JUPYTER NOTEBOOK',
 'python jupyter notebook',
 4,
 'Python jupyter kyobo')

In [ ]:
data2 = [3, 1, 2]
data2.append(4), data2.sort()
print(data2)
data2.pop(), data2.pop(), data2

[1, 2, 3, 4]

(4, 3, [1, 2])

In [ ]:
data2 = [3, 1, 2]
while data2:
    print(data2, data2.pop())

[3, 1] 2
[3] 1
[] 3

In [ ]:
# dict
data3 = {"one": 1, "two": 2}
data3.keys(), data3.values(), data3.items()

(dict_keys(['one', 'two']),
 dict_values([1, 2]),
 dict_items([('one', 1), ('two', 2)]))

In [ ]:
# d1, d2 = 'one', 1
for d1, d2 in data3.items():
    print(d1, d2)
    data3[d1] = d2**2
data3

one 1
two 2

{'one': 1, 'two': 4}

In [ ]:
# 스페셜 메서드
# 클래스의 앞뒤로 __가 있는 메서드

In [ ]:
# 데이터 타입에 따라서 같은 연산자를 사용해서 다르게 기능이 수행
1 + int("2"), str(1) + "2"

(3, '12')

In [ ]:
data1, data2, data3, data4 = 1, 2, "3", "4"

In [ ]:
# __add__ : + 연산을 구현해 놓은 메서드
# data1 객체는 int 클래스로 만들어진 객체
dir(data1)
# int 클래스에는 __add__ 스페셜 메서드에 + 연산자에 대한 기능 정의
data1 + data2, data1.__add__(data2)

(3, 3)

In [ ]:
# 같은 __add__ 메서드 이지만 정의되어 있는 클래스가 다름
# 그래서 동작되는 기능이 다름
data3 + data4, data3.__add__(data4)

('34', '34')

In [ ]:
class Number:
    def __init__(self, num):
        self.num = num
    def __add__(self, number_object):
        return self.num - number_object.num

In [ ]:
n1 = Number(3)
n2 = Number(2)
n1 + n2

1

In [ ]:
n1, n2 # 타입과 주소값이 나옴

(<__main__.Number at 0x7f73e5e7b850>, <__main__.Number at 0x7f73e5e7bc90>)

In [ ]:
# __str__, __repr__ : 객체의 정보를 출력해주는 메서드
class Number:
    def __init__(self, num):
        self.num = num
    def __add__(self, number_object):
        return self.num - number_object.num
    def __str__(self): # print 함수 실행
        return str(self.num)
    def __repr__(self): # 개발자가 객체의 상세 정보를 출력
        return f"<Number num:{str(self.num)}>"

In [ ]:
n1 = Number(3)
n2 = Number(2)
print(n1, n2)

3 2

In [ ]:
print(n1)
n1, n2

3

(<Number num:3>, <Number num:2>)

In [ ]:
# summary class
# 변수, 함수를 묶어서 사용하는 문법
# 객체지향을 구현한 문법
# 객체지향 : 실제세계를 모델링해서 코드를 작성하는 방법
# 사용법 : 클래스 선언(코드작성) > 객체생성(자원사용) > 메서드실행(코드실행)
#   - 클래스 선언(설계도작성) > 객체생성(제품생성) > 메서드실행(기능사용)
# class, self(객체자신)
# 생성자 메서드 : __init__ : 객체를 생성할 때 메서드 호출 : 변수 초기화
#   -> 그래서 변수가 주어지지 않으면 에러나서 객체를 생성하지 않도록함
# 데이터 타입의 이해
#   - 클래스는 사용자 정의 데이터 타입
#   - 클래스로부터 만들어진 객체는 클래스에 따라서 사용할 수 있는 메서드가 다르다.
#   - dir() : 객체에 있는 변수 출력
# 스페셜 메서드
#   - int.__add__(), str.__add__() : 메서드 이름은 같지만 다른 기능 수행

##8. 모듈, 패키지

In [ ]:
# 변수, 함수, 클래스를 하나의 파일(.py)로 묶어서 사용하는 문법
# 모듈 : 변수, 함수, 클래스를 하나의 파일(.py)로 묶어서 사용하는 방법
# 패키지 : 여러개의 모듈을 디렉토리로 묶어서 사용하는 방법
# import, from, as

In [ ]:
%%writefile kyobo.py
number = 10

def echo(msg):
    print("kyobo", msg)

class Show:
    def disp(self):
        print("Show kyobo!")

Writing kyobo.py

In [ ]:
%ls

kyobo.py  sample_data/

In [ ]:
%cat kyobo.py

number = 10

def echo(msg):
    print("kyobo", msg)

class Show:
    def disp(self):
        print("Show kyobo!")

In [ ]:
import kyobo as kb
type(kyobo)

module

In [ ]:
kyobo.number, kyobo.Echo("py"), kb.number

kyobo py

(10, None, 10)

In [ ]:
# import : 모듈, 패키지 코드를 가져와서 사용하는 방법
# from import : 특정 모듈이나 변수를 가져와서 사용
# as : 모듈이름을 줄여서 사용하는 방법

In [ ]:
!pip install geohash2

In [ ]:
import zigbang as zb

In [ ]:
df = zb.oneroom("망원동")

In [ ]:
df[(df["deposit"] <= 3000) & (df["rent"] <= 50)]

,item_id,sales_type,deposit,rent,size_m2,building_floor,floor,title,service_type,address1,manage_cost,is_new
8,31508810,월세,3000,50,36.36,3,반지하,💥주차가능+반려묘가능+올리모델링 투룸(보증금조절O),빌라,서울시 마포구 망원동,3,True
14,31356418,월세,2000,40,14.88,5,3,💘[망원동 대로변+남향 채광굳]🚘주차무료+엘베👍가성비,원룸,서울시 마포구 망원동,5,True
15,31380821,월세,2000,45,16.53,5,3,🌈공과금포함🌈주차0🌈엘베0🌈망리단길,원룸,서울시 마포구 망원동,0,False
16,31392712,월세,2000,40,16.53,5,3,🎉망원동 풀옵 이런 원룸없어요🎉,원룸,서울시 마포구 망원동,5,False
17,31501459,월세,1000,45,14.57,5,3,👍무조건깔끔한곳은여기가짱이쥬❗,원룸,서울시 마포구 망원동,3,True
40,31483882,월세,2000,50,36.36,3,3,망원동 한강변 조용한 주택가 투룸,빌라,서울시 마포구 망원동,1,True
62,31389325,월세,1000,50,45.00,3,반지하,🟥🟨🟩 망원동 깔끔한 가성비 지층 투룸,빌라,서울시 마포구 망원동,1.5,False
63,31416430,월세,1000,50,39.67,3,반지하,🎉망원동 깔끔 투룸🎉🎉,빌라,서울시 마포구 망원동,1.5,True
64,31150340,월세,1000,50,39.67,2,반지하,망리단길 근처 투룸 월세,빌라,서울시 마포구 망원동,2,False
69,31191513,월세,1000,35,26.45,3,반지하,🎉망원동 깔끔 분리형 1.5룸🎉🎉,원룸,서울시 마포구 망원동,1,False
73,31190623,월세,500,40,23.14,3,옥탑방,🎉망원동 분리형 옥탑방🎉🎉,원룸,서울시 마포구 망원동,0,False
83,31315200,월세,1000,40,26.45,4,옥탑방,⭐⭐망원역5분 ⭐옥탑방⭐저렴한 금액⭐⭐,원룸,서울시 마포구 망원동,3,False
84,31327147,월세,1000,40,23.14,2,옥탑방,👘망원역2분 분리형 옥탑낭만👘,원룸,서울시 마포구 망원동,3,False
85,31435830,월세,1000,40,23.14,4,옥탑방,✔망원역✔옥탑단독사용✔깔끔풀옵션✔,원룸,서울시 마포구 망원동,3,False
103,31472580,월세,1000,35,13.22,4,3,"망원역, 망원시장 인근 원룸.",원룸,서울시 마포구 망원동,3,True
135,31426597,월세,3000,40,16.53,4,4,🧵신축급 여성 안심🧵,원룸,서울시 마포구 망원동,5,False

In [ ]:
import time
for data in range(3):
  print(data)
  time.sleep(2) # time.sleep(60*60*24) 요렇게 쓰면 하루에 한번 실행하게 할 수 있지.

0
1
2

## 9. 입출력

In [ ]:
# io : input output
# 메모리에 있는 객체를 HDD 또는 SSD에 저장 및 로드 : RAM > SSD, SSD > RAM
# pickle : 입출력 속도가 빠르고 사용이 간편

In [ ]:
import pickle

In [ ]:
class Echo:
    def __init__(self, data):
        self.data = data
    def disp(self):
        print(self.data)
echo = Echo("kyobo")
echo.disp()

kyobo

In [ ]:
# RAM > HDD(SSD)
with open("kecho.pkl", "wb") as file: # write binary 2진형태로 쓰겠다
    pickle.dump(echo, file)

In [ ]:
# HDD(SSD) > RAM
with open("kecho.pkl", "rb") as file:
    load_obj = pickle.load(file)

In [ ]:
echo.disp()
load_obj.disp()

kyobo
kyobo

In [ ]:
# AI 객체 : 문장 > 카테고리 분류 : model.pkl 저장

In [ ]:
# 100:"정치", 101:"경제", 102:"사회",
# 103:"생활/문화", 104:"세계", 105:"IT/과학"

In [ ]:
# HDD > RAM
with open("model.pkl", "rb") as file:
    model = pickle.load(file)

In [ ]:
text = "요즘 주식 환율 예칙 불가능"
model.predict([text])

array([101])

In [ ]:
text = "요즘 주식 환율 예측 불가능합니다."
model.predict([text])[0],\
model.predict_proba([text])[0]

(101, array([0.02314564, 0.8712127 , 0.00155211, 0.00649604, 0.0047405 ,
        0.092853  ]))

## 10. 예외처리

In [ ]:
# try, except, finally
# 코드 실행중 에러가 발생했는때 처리하는 문법

In [ ]:
try:
  print(1/0)
except Exception as e:
  print("Error:",e)
finally: # try에서 error 발생하든 안하든 실행됨
  print("disconnect!!!")
print("Done!!!")

Error: division by zero
disconnect!!!
Done!!!

In [ ]:
# raise : 강제로 에러를 발생
# 함수를 호출할 때 아규먼트로 10이하의 숫자를 설정하면 LowNumber 에러 발생

In [ ]:
# Err 만들어보기
class LowNumber(Exception): #Exception 넣어준건 상속인데 안배웠다 이번에..
  def __str__(self):
    return "Number grater than 10!" #에러메시지

In [ ]:
def input_number(number):
  if number <= 10:
    raise LowNumber()
  print(number)

In [ ]:
# 에러발생
input_number(1)

LowNumber: ignored

-----
## Python Summary

In [ ]:
# 1. 변수선언 : 식별자규칙
# 2. 데이터타입 : int, float, bool, str, list, tuple, dict, set
#   - masking : [] : [idx], [start:end], [start:end:stride]
# 3. 연산자 : 산술, 할당, 비교, 논리, 멤버
# 4. 조건문 : if, elif, else
# 5. 반복문 : while, for in, break, continue, range()
# 6. 함수 : def, return, lambda
# 7. 클래스 : class, self
# 8. 모듈, 패키지 : import, from, as
# 9. 입출력 : pickle
# 10. 예외처리 : try, excelt, finally, raise