<a href="https://colab.research.google.com/github/cminy/FC2022code/blob/main/python_002_python_function_class.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
c = "miny"
d = [1,2]
e = "678"
list(zip(c,d)), list(zip(d,e))

([('m', 1), ('i', 2)], [(1, '6'), (2, '7')])

In [ ]:
# zip에 대해 알아봐야겠음
a = [1,2,3]
b = 6
list(zip(a,b)) # a와 b의 데이터 타입이 같을 필요는 없지만 둘다 iteration이던가 아니던가

TypeError: ignored

In [ ]:
# summary
# python
# 컴퓨터의 CPU, RAM, HDD를 사용하기 위한 어플케이션을 만드는 도구
# 1. 변수선언
#   - RAM에 저장공간을 만들어 값을 저장하는 방법
#   - data = 1 : data1, data2 = 1, 2 : data1 = data2 = 1
#   - 식별자규칙 : 대소문자, 숫자, _ 만 사용 가능 : 가장 앞에 숫자 X : 명령어 사용 X
# 2. 데이터타입
#   - RAM 저장공간을 효율적으로 사용하기 위한 방법
#   - 기본 데이터타입 : int, float, bool, str
#   - 컬렉션 데이터타입 : list, tuple, dict, set
#       - masking : [index], [start:end], [start:end:stride]
#       - list와 tuple의 차이 : tuple은 수정 X, 저장공간은 적게 사용
# 3. 연산자
#   - CPU 자원을 사용하기 위한 방법
#   - 산술, 할당, 비교, 논리(not, or, and), 멤버(in, not in)
#   - 연산자 우선순위 : 산술 > 비교 > 논리(and > or)
#   - 데이터 타입 형변환 : 데이터 타입에 따라 연산수행이 다름
# 4. 조건문
#   - 특정한 조건으로 코드를 실행 : 코드를 효율적으로 사용
#   - if, elif, else
# 5. 반복문
#   - 특정 코드를 반복적으로 실행 : 코드를 효율적으로 사용
#   - while, for in, break, continue
#   - range(), enumerate(), zip()
# 6. 함수
#   - 중복되는 코드를 묶어서 사용하는 방법 : 코드를 효율적으로 사용
#   - def, return, lambda
#   - 사용법 : 함수선언(코드작성) > 함수호출(코드실행)

In [ ]:
# 함수선언
# num1 : parameter
# num2, num3 : default parameter
def plus(num1, num2=10, num3=20): # default값 넣어준거
    print(num1 + num2 + num3)

In [ ]:
# default parameter 알아보기
print("A", "B")
print("C", "D") 
print("A", "B", end = " - ") # default parameter -> docstring을 보면되는데 이따 atom에서 하자
print("C", "D") 
print("A", "C", sep=":") # default parameter

A B
C D
A B - C D
A:C

In [ ]:
# 함수호출
# 1, 2 : agument
# num3=100 : keyword agument
plus(1)
plus(1, 2)
plus(1, num3=100)

31
23
111

In [ ]:
# return
# 1) 함수의 코드를 실행한 겨로가를 함수 호출하는 부분으로 보낼때
# 2) 함수의 코드 실행을 중단 (하고 싶을 떄 그냥 return을 써버림. none data를 return하고 그 밑에는 실행하지 않는거)

In [ ]:
# 1) 함수의 코드를 실행한 겨로가를 함수 호출하는 부분으로 보낼때
# plus1 : return이 없는 함수
def plus1(num1, num2=10, num3=20):
  print(num1 + num2 + num3)
# plus2 : return이 있는 함수
def plus2(num1, num2=10, num3=20):
  print(num1 + num2 + num3)
  return num1 + num2 + num3

In [ ]:
result1 = plus1(1, 2)
result2 = plus2(1, 2)
print("---")
print(result1, result2)

23
23
---
None 23

In [ ]:
# 변수의 값을 변경하지 않지만 코드를 실행한 결과를 리턴
# upper()매서드는 return이 있음
data = "python"
result = data.upper()
print(result, data) #data는 바뀌지않음

PYTHON python

In [ ]:
# 변수의 값을 변경하지만 코드를 실행한 결과를 리턴하지 않음
# sort()매서드는 return이 없음
data = [3, 1, 2]
result = data.sort()
print(result, data) #실행한 결과는 없지만 data가 변경됨 / return이 없는 경우는 data를 변경해주는 경우가 많음

None [1, 2, 3]

In [ ]:
# 2) 함수의 코드 실행을 중단 (하고 싶을 떄 그냥 return을 써버림. none data를 return하고 그 밑에는 실행하지 않는거)
def disp():
    print("python1")
    print("python2")
    return
    print("python3")

In [ ]:
# 함수
# 함수선언(코드작성) : 파라미터 : 함수를 호출할 떄 넘겨주는 데이터를 받아주는 변수
# 함수호출(코드실행) : 아규먼트 : 함수를 호출할 때 함수선언부분의 코드로 데이터를 넘겨줌
# 파라미터 : 일반 파라미터, 디폴트 파라미터
# 아규먼트 : 일반 아규먼트, 키워드 아규먼트

In [ ]:
# return
# 함수를 호출하는 쪽으로 코드를 실행한 결과를 보내줌
# 코드의 실행을 중단

In [ ]:
def plus(num1, num2=10, num3=20):
  print(num1 + num2 + num3)
  return num1 + num2 + num3

result = plus(1, num3=100) # 아규먼트 / 여기서 1은 데이터를 넣어주는거니까 일반 아규먼트
# 그냥 일반 아규먼트 쓰면 파라미터 순서대로 전달되는데 특정 파라미터의 값을 지정해서 하고 싶으면 키워드 아규먼트 num3=100
print("result: ",result)

111
result:  111

In [ ]:
# 해결의책
import random
def solving_book():
  answers = ["아주좋아", "오히려좋아", "딱좋아", "긋긋긋"]
  question = input("너의 고민을 이야기 해보아라: ")
  idx = random.randint(0, len(answers)-1)
  print(answers[idx])

In [ ]:
solving_book()

너의 고민을 이야기 해보아라: 미녕이 배고파
오히려좋아

In [ ]:
# 해결의책
# 1. 질문횟수 기능 추가
def solving_book1(count): # count라고 변수 이름 정해준거.
# 위에 count 대신 count=1 이라고 디폴트값을 주면 solving_book1()해도 에러 안남. 한번만 실행되지.
  answers = ["아주좋아", "오히려좋아", "딱좋아", "긋긋긋"]
  for _ in range(count):
    question = input("너의 고민을 이야기 해보아라: ")
    idx = random.randint(0, len(answers)-1)
    print(answers[idx])

In [ ]:
solving_book1(3)

너의 고민을 이야기 해보아라: 미녕이 배고파
아주좋아
너의 고민을 이야기 해보아라: 오늘 날씨 어떠니
오히려좋아
너의 고민을 이야기 해보아라: 다 좋아?
긋긋긋

In [ ]:
# 해결의책
# 2. 질문과 결과 데이터 저장(dict) 후 리턴
def solving_book2(count): # count라고 변수 이름 정해준거
  answers = ["아주좋아", "오히려좋아", "딱좋아", "긋긋긋"]
  datas = {} # 딕셔너리 변수 선언
  for _ in range(count):
    question = input("너의 고민을 이야기 해보아라: ")
    idx = random.randint(0, len(answers)-1)
    print(answers[idx])
    datas[question] = answers[idx] #키는 question이고 value가 answer인거지
  return datas

In [ ]:
result = solving_book2(2)
print("---")
print("프린트:", result)
result

너의 고민을 이야기 해보아라: 미녕이 배고파
긋긋긋
너의 고민을 이야기 해보아라: 미녕이 배고파
아주좋아
---
프린트: {'미녕이 배고파': '아주좋아'}

{'미녕이 배고파': '아주좋아'}

In [ ]:
# *args 아규스, **kwargs 키워드아규스
# 아규먼트와 파라미터의 개수가 지정되지 않을 때 사용
# *args는 키워드가 없는 아규먼트를 받아줌
# **kwargs는 키워드가 있는 아규먼트를 받아줌

In [ ]:
def plus1(*args):
    print(type(args), args)
    print("sum:", sum(args))

plus1(1, 2, 3) # *args라고하면 컬렉션 데이터 타입중에 tuple을 이용해서 여러개의 데이터(아규먼트)를 넣을 수 있음.

<class 'tuple'> (1, 2, 3)
sum: 6

In [ ]:
def plus2(*args, **kwargs):
    print(type(args), args)
    print(type(kwargs), kwargs)
    print("sum:", sum(args))

plus2(1, 2, 3, num1=10, num2=15)
# 키워드가 없는 아규먼트는 *args가 받아주고, 있는 아규먼트는 **kwargs가 받아주는거
# kwargs는 딕셔너리타입 num1이 key, 10은  value

<class 'tuple'> (1, 2, 3)
<class 'dict'> {'num1': 10, 'num2': 15}
sum: 6

In [ ]:
# docstring
# 함수의 설명을 작성하는 방법

In [ ]:
def disp(msg):
  """
  (docstring은 여기에 적어준다.)
  This Function is display message!
  ---------------------------------
  Parameters
  msg : str : print this msg
  ---------------------------------
  Return
  no return
  """
  print(msg)

In [ ]:
disp("안녕하세요")

안녕하세요

In [ ]:
# docstring 확인 - 마우스대거나 control+space 누르거나 help()함수활용
disp

In [ ]:
help(disp)

Help on function disp in module __main__:

disp(msg)
    (docstring은 여기에 적어준다.)
    This Function is display message!
    ---------------------------------
    Parameters
    msg : str : print this msg
    ---------------------------------
    Return
    no return

In [ ]:
# lambda function
# 함수는 데이터 타입이 function인 변수이다.

In [ ]:
# 함수 3개 선언 : 메모리 사용
def plus3(num1, num2):
  return num1 + num2

def minus(num1, num2):
  return num1 - num2

def calc(func, num1, num2): # 함수도 변수니까 ~ function도 파라매터나 아규먼트로 사용할 수 있다.
    return func(num1, num2)

In [ ]:
calc(plus3, 1, 2), calc(minus, 1, 2)

(3, -1)

In [ ]:
# 함수선언하면 메모리 사용하는데, 선언했는데 안쓸수도 있쟈나. 그런경우에는 lambda함수를 써보자.
# lambda <parameters> : <return data>
# 간단하게 파라미터와 return만 있는 함수는 람다함수로 사용하면 메모리 절약
# 복잡한 함수는 람다함수로 대체할 수 X

In [ ]:
# 아래 함수 lambda로 바꾸어 보기
# def plus3(num1, num2):
#   return num1 + num2
pluss = lambda num1, num2: num1 + num2
pluss(1,2)

3

In [ ]:
# calc(plus3, 1, 2), calc(minus, 1, 2)
calc(lambda num1, num2: num1   + num2, 1, 2), calc(lambda num1, num2: num1 - num2, 1, 2)

(3, -1)

In [ ]:
# list comprehension
# 간단한 리스트 데이터를 만드는 방법

In [ ]:
numbers = []
for number in range(10): # range(10) : 0~9리스트를 하나 만들었지
  if number % 2: # 홀수만 들어가도록 (1이면 True)
    numbers.append(number)
numbers

[1, 3, 5, 7, 9]

In [ ]:
# 위 코드를 list comprehension 으로 좀더 간결하게 해보자

number1 = [number for number in range(10) if number % 2] # for문이 실행되고 if조건절로 넘어가고 이게 True면 앞으로 넘어가고 False면 앞으로 넘어가지 않음.
# 넘겨받은 결과를 모아서 list로 comprehension해주는거
number1 # 굳이 선언할 필요도 없다.

[1, 3, 5, 7, 9]

In [ ]:
# kim씨 성을 가진 사람을 필터링 하세요.
users = ["kim ie","park aq","lee tt","kim iu"]

In [ ]:
# 문자열 데이터 타입에서도 masking[] 문법 사용 가능
"kim ie"[:3]

'kim'

In [ ]:
"kim ie".split(" "), "kim ie".split(" ")[0]

(['kim', 'ie'], 'kim')

In [ ]:
user_kim = [name for name in users if name.split(" ")[0]=="kim"]3
user_kim

['kim ie', 'kim iu']

In [ ]:
# function summary
# 함수는 중복되는 코드를 묶어서 사용함으로 코드작성의 효율을 증가
# def, return, lambda
# 사용법 : 함수선언(코드작성) > 함수호출(코드실행)
# 함수선언부와 함수호출부 사이에 데이터를 주고 받음 : parameter, agument
# 함수선언(parameter) > 함수호출(agument)
# parameter, default parameter, agument, keyword argument
# return
#   - 함수를 호출했을때 코드를 실행하고 결과를 돌려줄때
#   - 함수에서 코드의 실행 중단
# *args, **kwargs
#   - agument의 갯수에 관계 없이 parameter에서 데이터를 받을 사용
#   - *args : 키워드가 없는 아규먼트를 받음 : tuple 
#   - **kwargs : 키워드가 있는 아규먼트를 받음 : dict
# docstring
#   - 함수의 설명을 작성 : 함수설명, 파라메터, 리턴 
#   - help(<function_name>) : docstring 출력
# lambda function
#   - 일회성 함수 : 함수를 실행할때 생성해서 함수실행이 종료되면 없어지는 함수
#   - 함수 호출시 아규먼트에서 만들어서 주로 사용
#   - 간단한 파라메터와 리턴만 있는 함수를 대체 : 복잡한 함수는 대체 X
# list comprehension
#   - 리스트 데이터를 만드는 간단한 반복문과 조건문이 있는 코드를 대체
#   - [data for data in datas if data % 2]
#   - 조건에 해당하는 코드는 optional 하다

In [ ]:
# 7. 클래스 : class
# 개념 1 : 변수와 함수를 묶어서 사용하는 방법
# cf. 함수 : 중복되는 코드를 묶어서 사용
# 개녑 2 : 객체지향을 구현해 놓은 문법
#   - 객체지향 : 실제세계를 모델링하여 코드로 구현
#   - 사용이유 : 어떻게 하면 협업을 효율적으로 할 수 있을까? > 실제세계를 모델링해서 코드구현
# 함수 사용법 : 함수선언(코드작성) > 함수호출(코드실행)
# 클래스 사용법 : 클래스선언(코드작성(변수, 함수)) > 객체생성 > 객체의 메서드 실행(코드실행)
# 실제세계 비유 : 클래스선언(설계도) > 객체생성(생산) > 객체메서드실행(기능사용)
# 메서드 용어 : 클래스안에서 작성된 함수
# 식별자 컨벤션 : CamelCase or PascalCase
# cf. 변수나 함수는 snake_case
# self : 객체 자신

In [ ]:
# 1) 클래스선언
class Calculator:

  num1 = 1
  num2 = 2
  
  def plus(self):
    return self.num1 + self.num2
  
  def minus(self):
    return self.num1 - self.num2


# 2) 객체생성 : 함수호출과 유사 : 식별자가 대문자로 시작하면 객체생성 (식별자가 snake_case면 함수호출인거)
calcu = Calculator()

In [ ]:
# 3) 객체의 메서드 실행
calcu.plus()

3

In [ ]:
# self : 객체 자신 : self == calcu
# plus() : self.num1 + self.num2
# calcu.plus() : self.num1 + self.num2 코드가 실행되는데 : calcu 객체에서의 plus 메서드
calcu.num1, calcu.num2, calcu.plus(), calcu.minus()

(1, 2, 3, -1)

In [ ]:
type(calcu)

__main__.Calculator

In [ ]:
# Marine : health, attack_pow, attack()
# 클래스 선언
class Marine:
    health = 40
    attack_pow = 5
    def attack(self, target):
        target.health -= self.attack_pow

# 객체생성 : m1, m2
m1 = Marine()
m2 = Marine()

In [ ]:
# 메서드실행 : m1이 m2를 공격
m1.attack(m2)

In [ ]:
m1.health, m2.health, m1.attack_pow

(40, 35, 5)

In [ ]:
# 객체의 변수 수정하기
# m2 마린 업그레이드 공격력 +1
m2.attack_pow += 1
m2.attack_pow

6

In [ ]:
m2.attack(m1)
m1.health, m2.health

(34, 35)

In [ ]:
# 생성자 메서드 : __init__
# 객체를 생성할때 실행되는 메서드 : 불량품을 방지 : 실행되지 않는 메서드가 없도록 만듦
# 객체의 변수를 설정할때 주로 사용

# 클래스선언
class Calcualtor:
    def __init__(self, num1, num2):
        self.num1 = num1
        self.num2 = num2
    def plus(self):
        return self.num1 + self.num2

# 객체생성 : RAM 사용
calc = Calcualtor(1, 2)

In [ ]:
# 메서드실행
calc.plus()

3

In [ ]:
# 데이터 타입과 클래스의 객체의 관계

In [ ]:
data1, data2 = 1, "python"
type(data1), type(data2), type(m1)

(int, str, __main__.Marine)

In [ ]:
# data2 : 데이터타입(str)
# m1 : 데이터타입(Marine)

In [ ]:
# data2는 str 데이터 타입의 객체 : upper()는 data2객체의 메서드
data2.upper()
# m1는 Marine 데이터 타입의 객체 : attack()은 m1객체의 메서드
m1.attack(m2)
# 그러므로 데이터 타입에 따라서 클래스 다르고 클래스가 다르면 사용할수 있는
# 메서드가 다르다.

In [ ]:
# dir() : 객체의 변수, 메서드 출력
# data2 : datatype(str) : str class > upper()
# dir(data2)

In [ ]:
# 클래스 선언 : 사용자 정의 데이터 타입을 만든다.
# dir(m1)

In [ ]:
# class
# 개념 1 : 변수와 함수를 모아서 사용하는 문법
# 개념 2 : 객체지향을 구현해 놓은 문법 : 실제세계를 반영해서 개발하는 방법
# 사용법 : 클래스선언(코드작성) > 객체생성(메모리사용) > 메서드실행(코드실행)
# 실제세계 : 클래스선언(설계도작성) > 객체생성(제품생산) > 메서드실행(제품사용)
# self : 객체자신
#   - calc.plus() : self.num1 + self.num2 > calc.num1 + calc.num2
# 생성자 메서드 : __init__ : 객체생성시 실행
#   - 사용목적 : 불량품 생산 방지 : 변수가 선언되지 않은 상태에서 메서드 실행 방지
#   - 객체생성시 변수를 선언할때 주로 사용
# 사용자 정의 데이터 타입
#   - data(str) > str class(upper() 작성) > data.upper()
#   - m1(Marine) > Marine class(attack()) > m1.attack()
#   - 데이터 타입에 따라서 실행할수 있는 메서드가 달라짐
#   - dir() : 메서드 확인 함수

In [ ]:
# 스페셜 메서드 : 앞뒤로 __가 있음
# 같은 연산자라도 데이터 타입에 따라 다르게 기능이 수행된다.
1 + 2, "1" + "2"

(3, '12')

In [ ]:
data1, data2 = 1, 2
data3, data4 = "1", "2"

In [ ]:
# + 연산 : __add__ : 메서드 실행

In [ ]:
# data1 + data2 : int class의 __add__ 실행
type(data1), data1 + data2, data1.__add__(data2)

(int, 3, 3)

In [ ]:
# data3 + data4 : str class의 __add__ 실행
type(data3), data3 + data4, data3.__add__(data4)

(str, '12', '12')

In [ ]:
# dir(data1)

In [ ]:
# 8. 입출력
# 객체를 SSD에 저장 및 로드 : RAM > SSD, SSD > RAM
# pickle : 입출력 속도가 빠르고 사용이 간편

In [ ]:
import pickle

In [ ]:
class Disp:
    def __init__(self, msg):
        self.msg = msg
    def show(self):
        print(self.msg)
    def predict(msgg):
        print(msgg)
disp = Disp("kyobo")
disp.show()

kyobo

In [ ]:
# RAM > HDD(SSD)
with open("disp.pkl", "wb") as file:
    pickle.dump(disp, file)

In [ ]:
# HDD(SSD) > RAM
with open("disp.pkl", "rb") as file:
    load_obj = pickle.load(file)

In [ ]:
disp.show()
load_obj.show()

kyobo
kyobo

In [ ]:
# AI 객체 : 문장 > 카테고리 분류 : model.pkl 저장

In [ ]:
# HDD > RAM
with open("model.pkl", "rb") as file:
    model = pickle.load(file)

In [ ]:
text = "요즘 주식 환율 예칙 불가능"
model.predict([text])

array([101])

In [ ]:
text = "요즘 주식 환율 예측 불가능합니다."
model.predict([text])[0],\
model.predict_proba([text])[0]

(101, array([0.02314564, 0.8712127 , 0.00155211, 0.00649604, 0.0047405 ,
        0.092853  ]))

In [ ]:
# 100:"정치", 101:"경제", 102:"사회",
# 103:"생활/문화", 104:"세계", 105:"IT/과학"

In [ ]:
# 9. module
# 변수, 함수, 클래스를 하나의 파일(.py)로 묶어서 사용하는 문법
# import, from, as

In [ ]:
%%writefile kyobo.py
number = 3

def plus(n1, n2):
    return n1 + n2

class Echo:
    def show(self):
        print("echo")

Writing kyobo.py

In [ ]:
import kyobo
type(kyobo), kyobo.number, kyobo.plus(1, 2)

(module, 3, 3)

In [ ]:
from kyobo import Echo, plus
echo = Echo()
echo.show()

echo

In [ ]:
import kyobo as kyo
kyo.number

3

In [ ]:
!pip install geohash2

Collecting geohash2
  Downloading geohash2-1.1.tar.gz (15 kB)
Requirement already satisfied: docutils>=0.3 in /usr/local/lib/python3.7/dist-packages (from geohash2) (0.17.1)
Building wheels for collected packages: geohash2
  Building wheel for geohash2 (setup.py) ... done
  Created wheel for geohash2: filename=geohash2-1.1-py3-none-any.whl size=15561 sha256=01b2a2d2c184d9c003ddc2b374656b544fe76569592ab600f41678d941572b65
  Stored in directory: /root/.cache/pip/wheels/5d/61/e3/c3da255d2fc70eb901623d2e0b690f3da6454d5ef713d288ff
Successfully built geohash2
Installing collected packages: geohash2
Successfully installed geohash2-1.1

In [ ]:
import zigbang as zb

In [ ]:
df = zb.oneroom("망원동")
df.head()

,item_id,sales_type,deposit,rent,size_m2,building_floor,floor,title,service_type,address1,manage_cost,is_new
0,31307204,월세,1000,70,46.28,3,1,🌞채광잘들어오는깔끄미투룸🌞,빌라,서울시 마포구 망원동,2,False
1,31308709,월세,2000,65,39.67,3,2,🎶 [1000.70 가능] 🎶[저렴한 월세!],빌라,서울시 마포구 망원동,5,False
2,31468977,전세,40000,0,66.12,5,3,🟥🟧🟨망리단길 올 리모델링 큰 쓰리룸 망원역 도보5분,빌라,서울시 마포구 망원동,3,True
3,31480981,전세,45900,0,49.59,5,3,💝핫한망리단길/한강💝\r\n풀옵션/신축/대형2룸/합정역,빌라,서울시 마포구 망원동,4,True
4,31461424,월세,5000,40,36.36,3,반지하,🎉망원동 풀옵 투룸🎉,빌라,서울시 마포구 망원동,3,True

In [ ]:
# 10. 예외처리
# try, except, finally
# 코드 실행중 에러가 발생했는때 처리하는 문법

In [ ]:
try:
  print(1/0)
except Exception as e:
  print("Error:",e)
finally: # try에서 error 발생하든 안하든 실행됨
  print("disconnect!!!")
print("Done!!!")

Error: division by zero
disconnect!!!
Done!!!

-----
##Summary

### MySQL

In [ ]:
# DML : DATA : C(insert into)R(select from)U(update set)D(delete from)
# DDL : DATABASE, TABLE : C(create)R(show, desc)U(alter)D(drop)
# DCL : X
# 연산자 : 산술, 비교, 논리
# DML : READ
#   - where : between, in, not in, like
#   - order by : desc, asc(생략가능) : 컬럼사용 한개이상 가능
#   - limit : limit : skip, limit
# 데이터 타입 : 숫자, 문자열, 날짜
# 제약조건 : not null, unique, primary key, auto_increment ...
# DDL 테이블수정 : ADD, MODIFY COLUMN, DROP
# 함수 : date_format, count, round, concat ...
# group by : 특정 컬럼, 결합 함수 : 중복되는 데이터를 결합
# having : 쿼리 실행 후 특정 조건으로 데이터 필터링
# join : 두개 이상의 테이블을 결합 : inner, outer(union), left, right
# sub query : select, from, where
# view : 가상의 테이블 : 수정, 삭제 불가
# index : select의 속도를 증가

### Python

In [ ]:
# 1. 변수선언 : 식별자규칙 : _만 특수문자 사용가능, 가장앞에 숫자사용 X, 명령어 사용X
# 2. 데이터타입 : int, float, bool, str, list, tuple, dict, set
#   - list, tuple의 차이 : 같은 데이터를 저장하면 tuple 저장공간을 적게 사용
#   - tuple은 데이터 수정이 불가능
#   - set : 중복을 허용하지 X
#   - masking [] : [index], [start:end], [start:end:stride]
# 3. 연산자 : 산술, 할당, 비교, 논리(not, or, and), 멤버(in, not in)
# 4. 조건문 : if, elif, else
# 5. 반복문 : while, for in, break, continue, range(), enumurate(), zip()
# 6. 함수 : parameter, argument, *args, **kwargs, return, lambda
# 7. 클래스 : class : 객체지향 : 클래스선언 > 객체생성 > 메서드호출
#   - __init__ : 생성자 메서드
# 8. 입출력 : pickle
# 9. 모듈 : import, from, as
# 10. 예외처리 : try, except, finally