<a href="https://colab.research.google.com/github/cminy/FC2022code/blob/main/python_001_basic_syntax.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# jupyter notebook
- cell 단위로 python 코드를 실행
- mode
    - 명령모드(esc) : 셀을 수정
    - 편집모드(enter) : 셀의 내용을 수정
- style
    - markdown : 간단한 문자열 출력 문법
    - code : python 코드를 실행
- shortcut : 단축키
    - shift + enter : 코드 실행
    - esc + a, b : 셀 생성
    - ctrl + space : 자동완성, 함수 설명 보기

# Python

os를 이용하여 CPU, RAM, SSD의 자원을 활용해서 목적에 맞는 연산을 수행

1. 변수선언 : RAM 사용 : 저장공간을 만들어서 값을 저장
2. 데이터타입 : RAM 효율적으로 사용
  - int, float, bool, str, list, tuple, dict, set
3. 연산자 : CPU 사용 : 산술, 할당, 비교, 논리, 멤버
4. 조건문 : 코드 효율적 : 특정 조건에 따라서 코드를 실행 : if, elif, else
5. 반복문 : 코드 효율적 : 특정 코드를 반복적으로 실행
  - while, for, break, continue
6. 함수 : 반복적인 코드를 묶어서 사용하는 방법
  - def, return, lambda
7. 클래스 : 객체지향 구현 : 여러개의 변수와 함수를 묶어서 사용하는 방법
  - class, self
8. 모듈 : 변수, 함수, 클래스를 하나의 파일(.py)로 묶어서 코드를 사용하는 방법
9. 패키지 : 여러개의 모듈을 디렉토리 구분해서 코드를 사용하는 방법
  - import, from, as
10. 입출력 : 하드디스크 사용하는 것 : RAM > HDD, HDD > RAM
  - pickle

###1.   변수선언

- 식별자 : 저장공간을 구분하기 위해서 사용하는 문자열
- 대소문자 구분, 가장 앞에 숫자x, 명령어 사용 x, snake_case

In [ ]:
 data1 = 1
 data2 = 2

In [ ]:
data1, data2 = 1, 2

In [ ]:
data1 = data2 = 3

In [ ]:
# 변수 안에 있는 값 출력 : print
print(data1, data2)

3 3

###2. 데이터 타입
- 기본 데이터 타입 : int, float, bool, str
  - 저장공간에 데이터 하나만 저장
- 컬렉션 데이터 타입 : list, uple, dict, set
- 동적타이핑 : 변수를 선언할때 자동으로 데이터 타입을 지정
  - 파이썬의 특징으로 타입 지정해주지 않았는데 동적타이핑 기능이 있어서 type이 자동으로 지정됨.
  - 다른 언어의 변수선언 예) int data1 = 10

In [ ]:
# 데이터 타입 출력 : type()
data1, data2, data3, data4 = -3, 2.9, True, "python"
type(data1),type(data2),type(data3),type(data4)

(int, float, bool, str)

> 컬렉션 데이터 타입
  - list [ ] : 순서가 있고 수정이 가능한 데이터 타입
  - tuple ( ) : 순서가 있고 수정이 불가능한 데이터 타입
  - dict { } : 순서가 없고 수정이 가능한 데이터 타입
  - set() : 중복을 허용하지 않는 데이터 타입

- list, tuple 는 idx가 있어 순서가 있다(iterable). 둘의 차이는 수정 가능/불가능
- tuple을 사용하는 이유 : list와 같은 데이터를 저장하면 저장공간을 더 적게 사용

In [ ]:
# list []
data1 = [1, 2, "A", "B", "C"] # int, string 타입의 데이터를 넣어줌
type(data1), data1

(list, [1, 2, 'A', 'B', 'C'])

In [ ]:
# tuple ()
data2 = (1, 2, "A", "B", "C")
type(data2), data2

(tuple, (1, 2, 'A', 'B', 'C'))

In [ ]:
# masking : [] : 특정 위치에 있는 데이터 꺼내오기
# data[index], data[start(포함O):end(포함x)], data[start:end:stride]

In [ ]:
print(data1)
data1[2], data1[1:3], data1[1:4:2]

[1, 2, 'A', 'B', 'C']

('A', [2, 'A'], [2, 'B'])

In [ ]:
data1[-2], data1[-3:-1],data1[:3], data1[2:], data1[::-1]

('B', ['A', 'B'], [1, 2, 'A'], ['A', 'B', 'C'], ['C', 'B', 'A', 2, 1])

In [ ]:
# 데이터 수정 : 데이터 선택 = 수정할 데이터
# print(data1)
data1[2] # 데이터 선택
data1[2] = "D" # 데이터 수정

[1, 2, 'D', 'B', 'C']

tuple 데이터 수정 불가
<br>`data2[2] = "D"` # TypeError: 'tuple' object does not support item assignment

In [ ]:
# tuple은 저장공간을 더 적게 사용한다.
import sys
d1, d2 = [1, 2, 3], (1, 2, 3)
sys.getsizeof(d1), sys.getsizeof(d2)

(96, 80)

In [ ]:
# dict {}
# list, tuple에서 index값 대신 key값(int, str 타입) 사용
# key값을 사용하면 value값에 정보를 담을 수 있다.
data3 = {"one": 1, "two": 2, 1:"A", 2:"B"}
type(data3), data3

(dict, {1: 'A', 2: 'B', 'one': 1, 'two': 2})

In [ ]:
# index값 대신 key값으로 데이터를 읽어옴
data3["two"]

2

In [ ]:
# --- Quiz
# 메시 10골, 호날두 12골, 손흥민 20골
# list(변수2개)와 dict(변수1개)로 표현

# list
players = ["메시", "호날두", "손흥민"]
goals = [10, 12, 20]
# dict
info = {"메시": 10, "호날두": 12, "손흥민": 20}

players, goals, info

(['메시', '호날두', '손흥민'], [10, 12, 20], {'메시': 10, '손흥민': 20, '호날두': 12})

In [ ]:
for i in range(len(players)):
  goals_str = 
  print(players[i]+": ")
  print(goals[i])

메시:
10
호날두:
12
손흥민:
20

In [ ]:
# set()
data4 = set([1,2,1,"a","b","a"])
type(data4),data4 # 데이터의 중복이 제거가 되어 출력됨

(set, {1, 2, 'a', 'b'})

In [ ]:
# 1. 변수선언
# 2. 데이터타입
#   - 기본(int, float, bool, str)
#   - 컬렉션(list, tuple, dict, set)

In [ ]:
# 3. 연산자
# 산술 : +, -, *, /, //(몫), %(나머지), **(제곱)
# 할당 : data1 <산술>= 10
# 비교 : 결과(True, False) : ==, !=, >=, <=, >, <
# 논리 : 결과(True, False) : or, and, not
# 멤버 : 결과(True, False) : in, not in
#   - 컬렉션 데이터 안에 특정 데이터가 포함되는지 확인

In [ ]:
# 산술 : +, -, *, /, //(몫), %(나머지), **(제곱)
data1, data2 = 10, 3
data1 / data2, data1 // data2, data1 % data2, 3 ** 4

(3.3333333333333335, 3, 1, 81)

In [ ]:
# 부동소수점 문제
data1, data2 = 0.1, 0.2
print(data1 + data2)
(data1 + data2) == 0.3

0.30000000000000004

False

In [ ]:
# 해결책 1 : 반올림 : round()
print(round(data1 + data2, 1))
round(data1 + data2, 1) == 0.3

0.3

True

In [ ]:
# 해결책 2 : 고정소수점 연산으로 변환
from decimal import Decimal
print(Decimal('0.1') + Decimal('0.2'))
float(Decimal('0.1') + Decimal('0.2')) == 0.3

0.3

True

In [ ]:
# 할당연산자
# 변수에 값을 누적시켜 연산할때 사용

In [ ]:
data1 = 10
# data1 = data1 + 10
data1 += 10
data1

20

In [ ]:
# 비교연산자
# ==, !=, >, <, >=, <=
# 결과 : bool

In [ ]:
data1, data2 = 2, 3
data1 == data2, data1 != data2

(False, True)

In [ ]:
# 논리연산자
# 논리값 비교 : or, and, not

In [ ]:
not True, True or False, True and False, not data1 != data2

(False, True, False, False)

In [ ]:
# 멤버연산자 : in, not in
# 컬렉션 데이터 안에 특정 값이 있는지 확인
# 결과 : bool

In [ ]:
data1 = [1, 2, 3]
2 in data1, 2 not in data1

(True, False)

In [ ]:
# Quiz. 산술연산자 : +, -, *, /, //, %, **
# 입력된 변수에서 연령대를 출력하도록 코드 작성
age = 27
age // 10 * 10

20

In [ ]:
# Quiz. 산술, 비교, 논리
# 윤년구하기 : 윤년이면 True, 윤년이 아니면 False
# 4년에 한번씩 윤년 입니다.
# 100년에 한번씩 윤년이 아닙니다.
# 400년에 한번씩 윤년 입니다.

In [ ]:
year = 800
(year % 4 == 0) and (year % 100 != 0) or (year % 400 == 0)

True

In [ ]:
# 연산자 우선순위
# 산술 > 비교 > 논리(and > or)

In [ ]:
(1 + 2) * 3

9

In [ ]:
# 변수선언, 데이터타입, 연산자 : RAM, CPU

In [ ]:
# 변수의 복사
data1 = [1, 2, 3]
data2 = data1 # call by reference : 얕은복사 (주소값만 복사)
data3 = data1.copy() # call by value : 깊은복사
data1[1] = 4 # call by refernece를 했기 때문에 data2 도 함께 변하게됨 !!주의!!
data1, data2, data3

([1, 4, 3], [1, 4, 3], [1, 2, 3])

In [ ]:
# 주소값 확인 : id()
id(data1), id(data2), id(data3)

(140644545110976, 140644545110976, 140644543869888)

In [ ]:
# 데이터 타입별로 연산을 수행하는 방법이 다르다.
1 + 2, "A" + "B", [1, 2] + ["A", "B"]

(3, 'AB', [1, 2, 'A', 'B'])

In [ ]:
# 서로 다른 데이터 타입 연산 : 연산이 수행 될때도 있고 안될때도 있다.
# 10 + "20" # TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [ ]:
# 형변환해서 연산
data1, data2 = 10, "20"
data1 + int(data2), str(data1) + data2

(30, '1020')

In [ ]:
# 서로 다른 데이터 타입의 연산은 될 때도 있고 안 될 떄도 있다.
# 데이터 타입을 바꿔서 연산을 수행하면 된다.
# 같은 연산자를 이용해서 연산을 하더라도 데이터 타입에 따라 수행하는 방법이 다르다.

In [ ]:
# 데이터 타입의 형변환 함수 : int, float, bool, str, list, tuple, dict, set
data=(1,2,3) # tuple
data, list(data) # list로 바꿔줌

((1, 2, 3), [1, 2, 3])

In [ ]:
# 입력함수 : input() : 항상 str 데이터 타입으로 데이터를 받습니다.
year = int(input("Insert Year : "))
(year % 4 == 0) and (year % 100 != 0) or (year % 400 == 0) #윤년인지 알아보기

Insert Year : 2022

False

In [ ]:
# 4. 조건문
# if, elif, else
# 특정 조건에 따라서 코드를 실행

In [ ]:
# Q: 지갑에 돈이 5천원 이상 있으면 택시, 2000원 이상 있으면, 버스를 탄다.
# 2000원 미만으로 있으면 걸어간다.

money = int(input("insert your money: "))
if money >= 5000:
  print("택시를 타자")
elif money >= 2000:
  print("버스를 타세요.")
else:
  print("걸어가세요.")

insert your money: 6000
택시를 타자

In [ ]:
# Q: 점수를 입력하면 학점을 출력하는 코드
# 90>A, 80>B, 70>C, 60>D, F
# point 87

point = int(input("insert your point: "))
if point > 90:
  print("A")
elif point > 80:
  print("B")
elif point > 70:
  print("C")
elif point > 60:
  print("D")
else:
  print("F")

insert your point: 87
B

In [ ]:
# 5. 반복문
# 명령어 : while, for in, break, continue
# 함수 : range(), enumerate(), zip()

In [ ]:
# while : while <condition>
# 조건이 False가 될때까지 반복적으로 코드를 실행
# => 중복되는 코드를 결합해주는거니까 코드의 유지보수가 간편해짐
# 단, 코드를 작성할 때 무한루프에 빠지기 쉬움
# 무한루프에 빠지게 되면 : [런타임 > 실행중단] 실행
print("jupyter")
print("jupyter")
print("jupyter")

jupyter
jupyter
jupyter

In [ ]:
count = 3
while count > 0:
    print("jupyter")
    count -= 1

jupyter
jupyter
jupyter

In [ ]:
count = 3
while count: # 위와 같은 결과가 나온다. 왜냐하면 논리값이 아닌 데이터가 조건부에 오면 강제로 bool()로 형변환해서 판단함
    print("jupyter")
    count -= 1

jupyter
jupyter
jupyter

In [ ]:
bool(3), bool(0)

(True, False)

In [ ]:
# for : 코드를 반복적으로 실행
# for data in <iterable>:
#   code

In [ ]:
for data in [0,1,2]: # 꼭 iterable 아니여도 컬렉션 데이터면 다 실행 되긴함
  print("jupyter")

jupyter
jupyter
jupyter

In [ ]:
# range() : list 데이터를 생성해주는 함수
# range(end), range(start 포함O, end 포함X), range(start, end, stride)

jupyter
jupyter
jupyter
jupyter
jupyter
jupyter
jupyter
jupyter
jupyter

In [ ]:
range(5)

range(0, 5)

In [ ]:
list(range(5))

[0, 1, 2, 3, 4]

In [ ]:
list(range(0,5,2))

[0, 2, 4]

In [ ]:
for i in range(0,9):
  print("jupyter")

jupyter
jupyter
jupyter
jupyter
jupyter
jupyter
jupyter
jupyter
jupyter

In [ ]:
# 식별자규칙 : a-Z, 0-9, _
# 변수명 : _ : 실제로 사용되지 않지만 어쩔수 없이 변수로 받아야할때 사용
for _ in range(3):
    print("notebook")

notebook
notebook
notebook

In [ ]:
# enumerate() : (index, value)를 만들어주는 함수
# tuple은 여러개의 변수 받을수 있다.
datas = ["jupyter", "notebook", "python"]
print(list(enumerate(datas)))
for idx, data in enumerate(datas):
    print(idx, data)
    if data == "notebook":
        datas[idx] = "mysql"
datas

[(0, 'jupyter'), (1, 'notebook'), (2, 'python')]
0 jupyter
1 notebook
2 python

['jupyter', 'mysql', 'python']

In [ ]:
# tuple은 변수선언시 () 생략 가능
# tuple은 여러개의 변수로 받을수 있다.
data = 1, 2
data1, data2 = 1, 2
type(data), data, data1, data2

(tuple, (1, 2), 1, 2)

In [ ]:
# zip() : 여러개의 리스트 데이터에서 같은 인덱스의 데이터를 묶어줌
player = ["메시", "호날두", "손흥민"]
goals = [10, 12, 20]

In [ ]:
list(zip(player, goals))

[('메시', 10), ('호날두', 12), ('손흥민', 20)]

In [ ]:
# for문에서 구현
for player, goal in zip(player, goals):
  print(player, goal)

손 10
흥 12
민 20

In [ ]:
for player, goal in zip(player, goals):
  print(player + ": " + str(goal))

메시: 10
호날두: 12
손흥민: 20

In [ ]:
# 여기서 player 프린트하면 '민'이 나온다.

In [ ]:
# break : 반복문을 강제로 중단할때 사용
# continue : 반복문의 조건을 확인하는 코드로 올라가서 코드를 실행

In [ ]:
for number in range(10):
  if number % 2:
    continue
  print(number)
  if number >= 6:
    break

0
2
4
6

In [ ]:
# 1. 변수선언 : RAM 자원을 사용하는 문법 : 3가지방법 : 식별자
# 2. 데이터타입 : RAM 자원을 효율적으로 사용하는 문법
#   - int, float, bool, str
#   - list, tuple, dict, set
#       - masking : [] : [index], [start:end], [start:end:stride]
#       - update : 데이터선택 = 데이터
# 3. 연산자 : CPU 자원을 사용하는 문법
#   - 산술(부동소수점문제), 할당, 비교, 논리(or, and, not), 멤버(in, not in)
#   - 데이터 복사 : 깊은복사(d1 = d2.copy()), 얕은복사(d1 = d2)
#   - 데이터 형변환 : 연산자가 수행될때 데이터타입에 따라서 다른 방식으로 연산자 수행
# 4. 조건문 : 코드를 효율적으로 작성 : 특정 조건에 따라 코드 실행 : if, elif, else
# 5. 반복문 : 코드를 효율적으로 작성 : 반복적으로 코드를 실행
#   - while, for in, break, continue
#   - range(), enumerate(), zip()

In [ ]:
# ---- Quiz : 로또번호 출력하기

In [ ]:
# 랜덤 숫자 출력
import random
random.randint(0,3) # 0에서 3 사이에 랜덤한 숫자 출력됨 (0, 3 모두포함)

3

In [ ]:
# 리스트 데이터 개수 출력 : len()
data = [1,3,2]
len(data)

3

In [ ]:
# 리스트에 데이터 추가
data.append(4)
data

[1, 3, 2, 4]

In [ ]:
data.sort()
data

[1, 2, 3, 4]

In [ ]:
# 로또번호 출력하기
# 1~45 사이의 랜덤한 숫자 6개 출력
# 중복되는 데이터가 들어가지 않도록
lotto = []
while len(lotto) <= 6:
  rannum = random.randint(1,45)
  if rannum not in lotto:
    lotto.append(rannum)
lotto.sort()
lotto

[1, 7, 11, 21, 30, 44, 45]

In [ ]:
# if 두번쓰기
lotto = []
while True:
  rannum = random.randint(1,45)
  if rannum not in lotto:
    lotto.append(rannum)
  if len(lotto) >= 6:
    break
lotto.sort()
lotto

[1, 7, 12, 21, 36, 39]

In [ ]:
# set 써보기
lotto = []
tmp_lotto = []
while True:
  rannum = random.randint(1,45)
  tmp_lotto.append(rannum)
  if lenlotto = set(tmp_lotto)
  if len(lotto) >= 6:
    break
lotto.sort()
lotto

AttributeError: ignored

In [ ]:
# 6. 함수
# def, return, lambda
# 중복되는 코드를 묶어서 사용

In [ ]:
# ---- Quiz
# 로또번호 출력
# python 문자열 출력
# 로또번호 출력

In [ ]:
# 함수 사용 안하는 경우
lotto = []
while len(lotto) <= 6:
  rannum = random.randint(1,45)
  if rannum not in lotto:
    lotto.append(rannum)
lotto.sort()
print(lotto)
print("python")
lotto = []
while len(lotto) <= 6:
  rannum = random.randint(1,45)
  if rannum not in lotto:
    lotto.append(rannum)
lotto.sort()
print(lotto)

[4, 5, 9, 17, 26, 31, 40]
python
[1, 2, 3, 23, 35, 42, 43]

In [ ]:
# 사용법 : 함수선언(코드작성) > 함수호출(코드실행)

In [ ]:
# 함수선언(코드작성)
def disp_lotto():
    lotto = []
    while True:
        number = random.randint(1, 45)
        if number not in lotto:
            lotto.append(number)
        if len(lotto) >= 6:
            break
    lotto.sort()
    print(lotto)

In [ ]:
# 함수 실행(코드실행)
disp_lotto()

[5, 11, 18, 29, 38, 44]

In [ ]:
# 함수 사용한 코드로 바꾸어 보기
disp_lotto()
print("Python")
disp_lotto()

[3, 4, 18, 21, 22, 25]
Python
[23, 24, 25, 27, 34, 45]